/*****************************TAG SELECTORS******************************/


body {
    background-color: #ebfffa;
}

ul {
    text-align: center;
    list-style-position: inside;
}



hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 7px;
width: 5%;
}

h1:hover{
  color: #66bfbf;
  font-style: italic;
}
h3:hover {
  color: #66bfbf;
  font-style: italic;
}
body {
    margin: 0px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    
}


h1 {
    font-size: 75px;
    margin-top: 0;
}

/*******************************CLASS SELECTORS*********************************/

.head {
    height: 100px;
    background-color: #e0ebe8;
}
.top-container {
    background-color: #e0ebe8;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: red;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: blue;
    height: 200px;
    width: 200px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

a:hover {
font-style: italic;
}

tr {
  font-style: italic;
}

/**************************CLASS SELECTORS**********************************/

.circular {
  border-radius: 100%;
}
