/*****************************TAG SELECTORS******************************/


body {
    background-color: #ebfffa;
    margin: 0px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

ul {
    text-align: center;
    list-style-position: inside;
}



hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 7px;
width: 5%;
}



h1 {
    font-size: 75px;
    margin-top: 0;
    text_align: center;
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    
}


h1 {
    font-size: 75px;
    margin-top: 0;
}


/*******************************CLASS SELECTORS*********************************/

.head {
    height: 100px;
    background-color: #709fb0;
}
.top-container {
    background-color: #709fb0;
    position: relative;
    padding-top: 100px;
}



.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    background-color: #709fb0;
}
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
    background-color: #709fb0;
}
