/*****************************TAG SELECTORS******************************/


body {
    background-color: #ebfffa;
}

ul {
    text-align: center;
    list-style-position: inside;
}



hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 7px;
width: 5%;
}

img:hover {
  width: 300px;
  background-color: #7d5e2a;
}

h1:hover{
  color: #66bfbf;
  font-style: italic;
}
h3:hover {
  color: #66bfbf;
  font-style: italic;
}

a:hover {
font-style: italic;
}

tr {
  font-style: italic;
}

/**************************CLASS SELECTORS**********************************/

.circular {
  border-radius: 100%;
}
